* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}

/* Hero  */
 #hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}
#hero-img-header{
  display: flex;
  align-items: center;
  justify-content: center; 
  width: auto;
  height: 480px;
}  

#hero-img-header img {
  width: inherit;
  height: inherit;
}

#hero_header_button_id{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.hero_header_button{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #fa6900;
  text-decoration: none;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
.hero_header_button:hover{
  background: #fa6900;
  color: #fff;
  box-shadow: 0 0 5px #fa6900,
              0 0 25px #fa6900,
              0 0 50px #fa6900,
              0 0 200px #fa6900;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.hero_header_button:nth-child(1){
  filter: hue-rotate(270deg);
}
.hero_header_button:nth-child(2){
  filter: hue-rotate(110deg);
}
.hero_header_button span{
  position: absolute;
  display: block;
}
.hero_header_button span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#fa6900);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.hero_header_button span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#fa6900);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.hero_header_button span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#fa6900);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


.hero_header_button span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#fa6900);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

/* about */

 #about::before { 
  display: block;
  content: '';
  height: 40px;
}

/* Navbar */

#nav____navmenu {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: black;
}


.navbar__no {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem 1rem 3rem !important;
  
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
list-style: none;
color: #fff;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
text-decoration: none;
}

.nav-link:hover{
  color: #9B5DE5;
}

.nav-logo {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
  }
}



/* Services */

.services {
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.max-width {
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}

.max-width h1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.max-width h1::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 170px;
    background: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    user-select: none;
    height: 350px;
    width: calc(26% - 20px);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    background: #dac7f0;
}

.box {
    transition: all 0.3s ease;
}

.card:hover .box {
    transform: scale(1.05);
}

.box i {
    font-size: 50px;
    color: #9B5DE5;
    transition: color 0.3s ease;
}

.card:hover .box i {
    color: #fff;
}

.box h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
}

@media screen and (max-width: 1190px) {
    .max-width {
        padding: 0 25px;
    }
    .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 100%;
    }
}

/* Team */

.team-area {
    padding-top: 5%;
}

.single-team {
    background-color: #000;
    margin-bottom: 10px;
}

.single-team:hover .social {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}

.img-area {
    overflow: hidden;
    position: relative;
}

.img-area img {
    width: 100%;
}

.img-area:hover img {
    transform: scale(1.2)
}

.img-area img {
    transition: all 0.4s ease 0s;
}

@media (max-width: 768px) {
    .img-area img {
        display: inline-block;
    }
   
    #hero {
      height: 100vh;
    }

    #hero-img-header{ 
      width: 100vw;
      height: auto;
    }
    
}

.img-area .social {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.img-area .social ul {
    text-align: center;
    position: relative;
    top: 175px;
}

.img-area .social ul li a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.img-area .social ul li a:hover {
    background-color: #fff;
    color: rgb(75, 70, 70);
    border: 1px solid transparent;
}

.img-text {
    padding: 25px;
    color: #fff;
    text-align: center;
}

.img-text h4 {
    margin: 0 0 5px;
    font-size: 30px;
    font-family: bignoodletitling;
    letter-spacing: 5px;
}

.img-text h5 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.img-text h6 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.img-text h3 {
    margin: 0 0 5px;
    font-size: 28px;
    font-family: bignoodletitling;
    letter-spacing: 5px;
}

/* Contact */

.main {
    margin: 0;
    padding: 0;
    background-color: #000;
    padding-bottom: 100px;
  }
  
  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }